name: flutter_reprint
description: A plugin to use Reprint in Flutter apps. Reprint is a fingerprint authentication library for Android that supports older devices (for example, Samsung S5 and Xiaomi Redmi 3).
version: 1.0.2
homepage: https://github.com/maporcho/flutter_reprint

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: br.com.marcoporcho.flutter_reprint
        pluginClass: FlutterReprintPlugin
